@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:wght@100&family=Rubik:wght@300;400;600&display=swap');
*{
    box-sizing: border-box;
}
body {
    font-family: 'konic', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.8rem;
}
img {
    width: 100%;
}
a{
    text-decoration: none;
}
h2{
    font-size: 3rem;
    line-height: 4rem;
}
.about h2{
    margin-bottom: 0;
    margin-top: 0;
}
footer h2{
    line-height: 0;
    font-size: 2rem;
    padding: 1rem;
    font-style: italic;
}
.flex{
    display: flex;
}
.one-third-flex{
    width: 40%;
}
.two-third-flex {
    width: 60%;
}
.mission-icon{
    width: 40%;
    margin-left: 8rem;
}
header, .about, .contact, footer {
    margin-top: 100px !important;
}
.marginLeftRight{
    margin: 0 2rem;
}
.paddingAll{
    padding: 2rem 3rem 3rem 5rem;
}
.padding-topRight{
    padding: 1rem 5rem 0 0;
}
.margin-bottom{
    margin-bottom: 50px;
}
input, textarea, input::placeholder, textarea::placeholder{
    display: block;
    background: #f5760700;
    color: #fff;
    width: 80%;
    padding: 1rem;

}
input[type="text"],input[type="email"], textarea, input:focus, textarea:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
}
input[type="submit"]{
    margin-top: 1rem;
    width: 15%;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #f57607e8;
    border: 1px solid #f57607e8;
    border-radius: 5px;
    margin-left: 65%;
}
form{
    margin-left: 3rem;
}
.form {
    background: #f57607e8;
    height: 300px;
    width: 600px;
    margin-left: 7rem;
    margin-top: 3rem;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.header-container {
    margin: 6rem auto 0 auto;
    height: 100vh;

}
.header-left-side h1 {
    font-size: 4rem;
    border-left: 5px solid #ff4500;
    border-radius: 2px;
    padding-left:0.8rem;
    line-height: 5rem;
}
.header-left-side p{
    font-size: 1.8rem;
}
span {
    color: #f57607e8;
}
.link-btn {
    background: #ff4500;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 5px;
}
.header-left-side {
    padding: 4rem;
}
.header-right-side {
    background-image: url(/img/shape-2.png);
    height: 448px;
    width: 464px;
    margin: 4rem 0 0 6rem;
    position: relative;
}
.header-right-side .img {
    position: absolute;
    top: -7rem;
    left: 15px;
    right: 0;
}
.about img, .form{
    border-radius: 20px;
}
.button {
    margin: 2.5rem 0;
}
.center {
    text-align: center;
}
.mission-container div{
    padding: 1rem;
    border-radius: 5%;
    margin-right: 2rem;
}
.mission-container div:nth-of-type(1){
    background-color: #fa8072;
}
.mission-container div:nth-of-type(2){
    background-color:#f57607e8;
}
.mission-container div:nth-of-type(3){
    background-color:#ff4500;
}
.contact-container .social-media {
    margin-left: 4rem;
}
.fab{
    margin-right: 0.5rem;
}
footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: 2rem;
}
